# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
*.pyc
*.pyo

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.log

# Media and static files
/media/
staticfiles/

# Environment
.env
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Node modules (if you have front-end tooling)
node_modules/

# Pytest cache
.pytest_cache/
