{% extends "base.html" %}
{% block title %}Your Tasks{% endblock %}

{% block content %}
<h1 class="mb-3">Your Tasks</h1>

<a class="btn btn-success mb-3" href="{% url 'task-create' %}">+ Add New Task</a>

{% if tasks %}
<ul class="list-group">
  {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>{{ task.title }}</strong>
        {% if task.completed %}
          <span class="badge bg-success ms-2">Done</span>
        {% endif %}
        <div class="text-muted"><small>{{ task.created_at|date:"M d, Y H:i" }}</small></div>
      </div>

        <p>{{ task.description }}</p>

      <div>
        <a href="{% url 'task-edit' task.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
        <a href="{% url 'task-delete' task.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-muted">No tasks yet — add your first one!</p>
{% endif %}

{% endblock %}
